*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FEFAE0;
    color: #495f2f;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
    margin-left: 50px;
}

nav ul li a{
    color: #495f2f;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

nav ul li a:hover{
    color: #BC6C25;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
    text-align: right;
}
.header-text h1{
    font-size: 60px;
    margin-top: 0px;
}
.header-text h1 span{
    color: #DDA15E;
}
.welcome{
    font-size: 20px;
    text-align: right;
}

/*---------ABOUT--------*/

#about{
    padding: 80px 0;
    font-size: 20px;
    color: #BC6C25;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 1000px;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #3f5328;
}

.tab-links {
    display: inline-block;
    margin: 20px 30px;
    padding: 1px 20px;
    border: 3px solid #BC6C25;
    border-radius: 50px;
    color: #606C38;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    transition: background-color 0.5s;
}

.tab-links:hover {
    background: #606C38;
    color: #FEFAE0;
    border: 3px solid #606C38;
}

.tab-links::after {
    display: block;
    height: 3px;
    width: 100%;
    background: #606C38;
    position: absolute;
    bottom: 0;
    left: 0;
}

.tab-links.active-link::after {
    background: #606C38;
}

.tab-links.active-link {
    background: #606C38;
    border: 3px solid #606C38;
    color: #FEFAE0;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px;
    transition: transform 0.5s;
}

.tab-contents ul li span{
    color:#606C38;
    font-size: 20px;
}
.tab-contents{
    display: none;
    transform: translateX(-5px);
}
.tab-contents.active-tab{
    display: block;
    transform: translateX(-5px);
}

/* ---------portfolio----------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    color: #606C38;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
@media (min-width: 768px) {
    .work-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    display: block;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #283618;
    padding: 14px 50px;
    border-radius: 50px;
    text-decoration: none;
    color: #606C38;
    transition: background-color 0.5s;
}
.btn:hover{
    background: #606C38;
    color: #FEFAE0;
}
.film-ko{
    margin-top: 50px;
    text-align: center;
}
.movie{
    display: block;
    margin: 00px auto;
    margin-top: 90px;
    width: fit-content;
    text-decoration: none;
    color: #BC6C25;
}
.film-header{
    font-size: 30px;
}
/*----------------contact--------------*/

#contact{
    text-align: center;
}
.contact-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height based on your needs */
    text-align: center;
}

.contact-left p i {
    color: #606C38;
    font-size: 20px;
}

.social-icons {
    margin-top: 30px;
}

.social-icons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #DDA15E;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover {
    color: #606C38;
    transform: translateY(-5px);
}
.copyright{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
}

/*-------------------Responsiveness----------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #DDA15E;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
    }
}
