*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #FEFAE0;
    color: #495f2f;
}

#header{
    width: 100%;
    height: 100vh;
    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
}

.container{
    padding: 50px;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 300px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 50px;
    margin-left: 50px;
}

nav ul li a{
    color: #495f2f;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #BC6C25;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #DDA15E;
}

/*---------ABOUT--------*/

#about{
    padding: 80px;
    font-size: 20px;
    color: #BC6C25;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 45%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 1000px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #3f5328;
}

.tab-titles{
    display: flex;
    margin: 20px ;
}
.tab-links{
    margin-right: 50px;
    font-size: 28px;
    font-weight: 500;
    color: #606C38;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #606C38;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li{
    list-style: none;
    margin: 15px;
}

.tab-contents ul li span{
    color:#606C38;
    font-size: 20px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* ---------portfolio----------*/
#portfolio{
    padding: 50px 0;
}
.work-list{
    display: grid;
    color: #606C38;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}
@media (min-width: 768px) {
    .work-list {
        grid-template-columns: repeat(3, 1fr);
    }
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    display: block;
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #283618;
    padding: 14px 50px;
    border-radius: 50px;
    text-decoration: none;
    color: #606C38;
    transition-delay: background-color 0.5s;
}
.btn:hover{
    background: #606C38;
    color: #FEFAE0;
}


/*----------------contact--------------*/
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i {
    color: #606C38;
    font-size: 20px;
}
.social-icons{
    margin-top: 30px;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #DDA15E;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #606C38;
    transform: translateY(-5px);
}
.copyright{
    width: 100%;
    text-align: center;
}

/*-------------------Responsiveness----------------*/
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100%;
        font-size: 15px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #DDA15E;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 30px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 12px;
    }
}